<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>

</head>
<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsNZqJmpfPMrxjTMnoSLVGXzKIpwp3qKjmkD_MtR7sJc4aVUGI">
    {{> header}}
<p>{{screamIt welcomeMessage}}</p>

{{> footer }}
</body>
</html>